.heading1{
    font-size: 45px;
    margin-bottom: 20px;
}
.heading2{
    font-size: 25px;
    color: #D5D5D5;
}
.head2A{
    font-size: 25px;
    color: white;
    
}
.head3{
    font-size: 20px;
    color: #D5D5D5;
    margin: 30px 0;
}
.head4{
    text-align: center;
    font-size: 20px;
    color: #D5D5D5;
    margin: 30px 0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.ratings{
    background-color: #920909;
    width: 180px;
    height: 70px;
}
.ratings>p:first-child{
    font-size: 30px;
    margin-left: 5px;
}
.ratings>p:last-child{
    font-size: 18px;
    text-align: center;
}
.container{
   
   padding-top: 200px;
    width: 94%;
   
}
.heading{
    display: flex;
    justify-content: space-between;
}
.main{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.main>:first-child{
    width: 48%;
    text-align: start;
}

.main>:last-child{
    width: 48%;
    background-color: #2E2E2E;
    border-radius: 20px;
    padding: 20px;
}

.faci{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin: 30px 0;
}
.cardcon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    margin: 30px 0;
}
.card{
    
    background-color: #920909;
    border-radius: 5px;
    width: 150px;
    height: 170px;
}
.plan{
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 150px;
    margin: 20px 0;
   
    border-radius: 10px;
    background: #4568DC;  
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC); 
    background: linear-gradient(to right, #B06AB3, #4568DC); 
padding-left: 15px;
padding-top: 10px;
}
.planhead{ 
    
    text-align: center;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.body{
    width:95%;
   
    height: auto;
    margin: auto;
    background-color: #080808;
  }
  .icon{
    margin: 5px;
    width:95%;
    height: 100px;
  }

  .logon{
width:50px;
height: 30px;
  }

  .btn{
 margin-left: 250px;
   background-color: #8da2e6;
   padding:0 8px;
   border-radius: 3px;
   font-weight: 600;
   font-size: 18px;
  }
  .member{
    text-align: center;
    font-size: 30px ;
    font-weight: 700;
  }

  .lwst{
    margin-top: 20px;
  }